* {
    box-sizing: border-box;    
}

html {
    height: 100%; //nastavení obrazovky, aby se mi pozadi neopakovalo
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: linear-gradient(#615dad, #ffc8da) no-repeat fixed;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 0px;
    
}

.window, .uvodniImg{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.window, .windowRules{
    width: 400px;
    background-color: #283e50;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;                   //vycentrovani na stred z leva a zprava
    margin-top: 100px;               //odsazeni od vrsku obrazovk
}

.play__screen{
    color: #ffffff;
    max-width: 80vmin;
}

.rules, .btn__home{
    background-color: #1fcca4;
}

.rules:hover, .btn__home:hover{
    background-color: #1cbb96;
}

.play{
    background-color: #0197f6;
    border-top: 2px solid #283e50;
}

.btn__play{
    background-color: #0197f6;
}

.play:hover, .btn__play:hover {
    background-color: #0090e9;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
    padding: 15px 30px 15px 30px;
}

li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    margin: 10px 30px;
}

figure {
    padding: 4px;
    margin: auto;
    width: 100%;
  }
  
figcaption {
    font-family: 'Open Sans', sans-serif;
    margin: 4px 20px 40px 20px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
}

img{
    width: 350px;
}

.uvodniImg{
    width: 400px;
}



@media (min-width: 640px){
 
    .windowRules{
        width: 800px;
    }

    .instruction{
        display: flex;
        flex-wrap: wrap;
    }
    figure{
        width: calc(50% - 40px);
        margin: 0px 20px 0px 20px;
    }
}


/* Nastylování stránky Play */

.play__screen{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60vmin;
    
}

.btn__home, .btn__play {
    border-radius: 5px;
    width: 2rem;
    padding: 3px;    
}

.screen__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.icon{
    filter: invert(100%);
    width: 0.8em;
    height: 0.8em;
}

.icons--player{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.icons--menu a{
    padding: 0px;
}


.screen__field{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    max-width: 60vmin;
    border: 1px solid black;
}

button{
    background-color: #dfb3d1;
    width: 10%;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 0px;
    opacity: 0.6;
    background-size: 30%;
    }

button:hover {
    opacity: 1;
    border-radius: 5px;
    cursor: pointer;
}

.zahrany_tah{
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    transition: background-size 0.15s;

}

.play__btn--cross{
    background-image: url("img/cross.svg");
}
.play__btn--circle{
    background-image: url("img/circle.svg");
}


