/*
Nadpis Piškvorky je fontem Lobster. Najdeš ho zdarma na Google Fonts.
Různé vzdálenosti, velikosti textu odhadni od oka nebo přesně změř na obrázku výše.
Gradient v pozadí jde z fialové  #615dad do růžové  #ffc8da.
Další barvy, které se ti budou hodit:
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9.
Úvodní text nemusíš opisovat. Stačí ho zkopírovat zde: Piškvorky jsou velmi oblíbená 
společenská hra pro dva hráče. Obvykle se hraje s tužkou a čtverečkovaným papírem. 
Nyní můžete využít naši skvělou aplikaci, takže už nepotřebujete ani tužku a nemusíte 
hledat čtverečkovaný papír. Přejeme vám hodně zábavy!
*/
* {
    box-sizing: border-box;    
}

html {
    height: 100%; //nastavení obrazovky, aby se mi pozadi neopakovalo
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: linear-gradient(#615dad, #ffc8da) no-repeat fixed;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 0px;
    
}

.window, .uvodniImg{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.window, .windowRules{
    width: 400px;
    background-color: #283e50;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;                   //vycentrovani na stred z leva a zprava
    margin-top: 100px;               //odsazeni od vrsku obrazovk
}

.rules{
    background-color: #1fcca4;
}

.rules:hover{
    background-color: #1cbb96;
}

.play{
    background-color: #0197f6;
    border-top: 2px solid #283e50;
}

.play:hover {
    background-color: #0090e9;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
    padding: 15px 30px 15px 30px;
}

li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    margin: 10px 30px;
}

figure {
    padding: 4px;
    margin: auto;
    width: 100%;
  }
  
figcaption {
    font-family: 'Open Sans', sans-serif;
    margin: 4px 20px 40px 20px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
}

img{
    width: 350px;
}

.uvodniImg{
    width: 400px;
}

.icon{
    filter: invert(100%);
    width: 1em;
    height: 1em;
}

@media (min-width: 640px){
 
    .windowRules{
        width: 800px;
    }

    .instruction{
        display: flex;
        flex-wrap: wrap;
    }
    figure{
        width: calc(50% - 40px);
        margin: 0px 20px 0px 20px;
    }

    
